 * { 
    all: unset;
    border: none;
    border-radius: 4;
    font-family: JetBrains Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

@define-color text	#0d0e0f;
@define-color cpu #689d6a;
@define-color pulseaudio #b16286;
@define-color clock #98971a;
@define-color ram #eebd35;
@define-color tray #7fa2ac;

window#waybar {
    background: @theme_base_color;
    background-color: rgba(43, 48, 59, 0.9);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @theme_text_color;
}

#workspaces button {
    padding: 0 0.7em;
    background-color: transparent;
    color: #f8f8f2;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #f8f8f2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#custom-notification,
#sway-scratchpad,
#battery,
#network,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    color: #f8f8f2;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @clock;
    color: @text;
    margin-bottom: 10;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @cpu;
    color: @text;
}

#memory {
    background-color: @ram;
    color: @text;
}

#pulseaudio {
    background-color: @pulseaudio;
    color: @text;
}

#pulseaudio.muted {
    background-color: #44475a;
    color: #f8f8f2;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #ff79c6;
    color: #282a36;
}

#temperature.critical {
    background-color: #ff5555;
    color: #282a36;
}

#tray {
    background-color: @tray;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background-color: #e7d7ad;
    color: @text;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#keyboard-state {
    background-color: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#battery {
    background-color: #3c3836;
    color: #f2e5bc;
}

#network {
    background-color: #076678;
    color: #f9f5d7;
}
